{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 10%;">
    <h1>Sobre</h1><br><br>

    <h3>O desenvolvedor</h3><br>
    <p>
        O objetivo do projeto é adquirir conhecimento prático sobre o desenvolvimento de sistemas
        web e reconhecimento de imagens. Desenvolvido por um estudante de Análise e desenvolvimento de sistemas e estagiário
        em desenvolvimento web.
    </p>

    <br><br>

    <h3>O site</h3><br>
    <p>
        Este site tem como objetivo ser um exemplo simples de sistema de reconhecimento de imagens
        que tem por finalidade reconhecer através da imagem de uma mão, se a mesma está aberta ou fechada
        através da extração de seus 
        <a href="https://pt.wikipedia.org/wiki/Momentos_invariantes_de_uma_imagem#Momentos_Invariantes_de_Hu" target="_blank">Momentos de hu</a>.
    </p>

</div>
{% endblock %}